{% extends 'base.html'%}

{% load static %} 

{% block title %}Show Tasks{% endblock %}

{% block content %}

<div class="row d-flex flex-wrap mt-5 mb-5 justify-content-center mx-5">
    {% for i in data %}
    <div class="col-sm-3">
      <div class="card mt-5" style="height:95%">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">{{i.description}}</p>
          <p class="card-text">{{i.assign_date}}</p>
          <p class="card-text">
            {% for j in i.category.all %}
               <button class="btn btn-primary btn-sm mx-2 my-2" style="font-size:10px">{{j.name}}</button>
            {% endfor %}
          </p>
          {% if i.is_completed %}
          <button class="btn btn-secondary">Completed</button>
          {% else %}
          <a href="{% url 'edit_task' i.id %}" class="btn btn-warning">Edit</a>
          <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}